////
/// Subhead block.
///
/// @group  Blocks
/// @author TheeDigital <admin@theedigital.com>
/// @link   https://theedigital.com
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
